@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
@font-face {
  font-family: "sf-regular";
  src: url("/fonts/sf-regular.ttf");
}

@font-face {
  font-family: "sf-medium";
  src: url("/fonts/sf-medium.ttf");
}

@font-face {
  font-family: "sf-semibold";
  src: url("/fonts/sf-semibold.ttf");
}

@font-face {
  font-family: "sf-bold";
  src: url("/fonts/sf-bold.ttf");
}

@font-face {
  font-family: "sf-heavy";
  src: url("/fonts/sf-heavy.ttf");
}

/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
body {
  font-family: "sf-regular", sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar-momentum {
  padding: 20px 0 !important;
  border-bottom: 1px solid rgba(38, 49, 69, 0.15);
  background-color: transparent;
}

.navbar-momentum .nav-link {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-right: 20px;
  margin-left: 0;
}

.navbar-momentum .nav-link:hover {
  color: #BE9639;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btn-kontak-kami {
  background: transparent;
  border: 1px solid #BE9639;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(190, 150, 57, 0.25);
          box-shadow: 0px 0px 0px 2px rgba(190, 150, 57, 0.25);
  border-radius: 8px;
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #BE9639;
  padding: 16px 24px;
}

.hero-bg {
  background: url("/img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: auto;
}

.hero-menu {
  margin: 56px 0;
}

.hero-menu label {
  font-family: "sf-bold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 12px;
}

.hero-menu h2 {
  font-family: "sf-bold", sans-serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  margin-bottom: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#be9639), to(#ddc58e));
  background: linear-gradient(90deg, #be9639 0%, #ddc58e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-menu p {
  font-family: "sf-regular", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 12px;
}

.hero-menu .cta-download {
  margin-top: 32px;
}

.hero-menu .cta-download img {
  height: 50px;
  width: auto;
  margin-right: 30px;
}

.hero-menu .hero-image {
  width: 100%;
}

.penghasilan-tambahan {
  background: transparent;
  border: 1.5px solid #BE9639;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.25);
          box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.25);
  border-radius: 50px;
  padding: 10px 10px 10px 20px;
  margin-top: 18px;
}

.penghasilan-tambahan h4 {
  font-family: "sf-regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
  margin-bottom: 0;
  padding-right: 12px;
}

.penghasilan-tambahan h4 a {
  font-family: "sf-semibold", sans-serif;
  text-decoration: none;
  color: #BE9639;
}

#cara-kerja {
  margin: 52px 0;
}

#cara-kerja .title {
  margin-bottom: 52px;
  text-align: center;
}

#cara-kerja .title h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 0;
}

#cara-kerja .card-cara-kerja {
  background: url("/img/bg-cara-kerja.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
          box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
  padding: 40px 30px;
  min-height: 320px;
}

@media (max-width: 768px) {
  #cara-kerja .card-cara-kerja {
    margin-bottom: 20px;
  }
}

#cara-kerja .card-cara-kerja img {
  width: auto;
  height: 40px;
  margin-bottom: 24px;
}

#cara-kerja .card-cara-kerja label {
  font-family: "sf-bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  margin-bottom: 8px;
  display: block;
}

#cara-kerja .card-cara-kerja h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 12px;
}

#cara-kerja .card-cara-kerja p {
  font-family: "sf-regular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 0;
}

#tentang {
  margin: 80px 0;
}

#tentang .title {
  margin-bottom: 52px;
  text-align: center;
}

#tentang .title label {
  font-family: "sf-bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  display: block;
  margin-bottom: 8px;
}

#tentang .title h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 16px;
}

#tentang .title p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #696969;
  margin-bottom: 0;
}

#tentang .mobile-product {
  width: 100%;
  height: auto;
}

#tentang .keterangan-aplikasi {
  text-align: left;
  margin-top: 68px;
}

#tentang .keterangan-aplikasi label {
  font-family: "sf-bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  display: block;
  margin-bottom: 12px;
}

#tentang .keterangan-aplikasi h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 16px;
}

#tentang .keterangan-aplikasi p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #696969;
  margin-bottom: 0;
}

#fitur {
  margin: 80px 0;
}

#fitur .title {
  margin-bottom: 52px;
  text-align: center;
}

#fitur .title label {
  font-family: "sf-bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  display: block;
  margin-bottom: 8px;
}

#fitur .title h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 16px;
}

#fitur .card-fitur {
  padding: 48px 32px;
  text-align: center;
  margin-bottom: 20px;
}

#fitur .card-fitur:hover {
  -webkit-box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
          box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#fitur .card-fitur img {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
}

#fitur .card-fitur h4 {
  font-family: "sf-bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2D2D2D;
  margin-bottom: 12px;
}

#fitur .card-fitur p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 0;
}

#produk {
  margin: 52px 0 80px 0;
}

#produk .title {
  margin-bottom: 32px;
}

#produk .title a {
  font-family: "sf-bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  text-decoration: none;
}

#produk .title a i {
  font-size: 24px;
}

#produk .title label {
  font-family: "sf-bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #BE9639;
  display: block;
  margin-bottom: 8px;
}

#produk .title h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 16px;
}

#produk .card-produk {
  background: #FFFFFF;
  border: 1px solid rgba(38, 49, 69, 0.15);
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  min-height: 265px;
}

@media (max-width: 768px) {
  #produk .card-produk {
    margin-bottom: 20px;
  }
}

#produk .card-produk img {
  height: 60px;
  width: auto;
  margin-bottom: 16px;
}

#produk .card-produk h3 {
  font-family: "sf-semibold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 16px;
}

#produk .card-produk p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 28px;
}

#produk .card-produk .btn-beli {
  background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produk .card-produk .btn-beli img {
  width: 18px !important;
  height: auto;
  margin-right: 12px;
  margin-bottom: 0;
}

#produk .card-produk .btn-coming {
  background: linear-gradient(90.9deg, #A5A5A5 0.28%, #ECECEC 105.23%);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produk .card-produk .btn-coming img {
  width: 18px !important;
  height: auto;
  margin-right: 12px;
  margin-bottom: 0;
}

#produk .card-produk-cm {
  background: #FFFFFF;
  border: 1px solid rgba(38, 49, 69, 0.15);
  border-radius: 10px;
  text-align: center;
  min-height: 265px;
}

@media (max-width: 768px) {
  #produk .card-produk-cm {
    margin-bottom: 20px;
  }
}

#produk .card-produk-cm h3 {
  font-family: "sf-semibold", sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 16px;
}

#produk .card-produk-cm p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 28px;
}

#produk .card-produk-cm .btn-beli {
  background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produk .card-produk-cm .btn-beli img {
  width: 18px !important;
  height: auto;
  margin-right: 12px;
  margin-bottom: 0;
}

#produk .card-produk-cm .btn-coming {
  background: linear-gradient(90.9deg, #A5A5A5 0.28%, #ECECEC 105.23%);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#produk .card-produk-cm .btn-coming img {
  width: 18px !important;
  height: auto;
  margin-right: 12px;
  margin-bottom: 0;
}

#hubungi-kami {
  margin: 52px 0;
}

#hubungi-kami .card-hubungi-kami {
  background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
  border-radius: 10px;
  padding: 40px;
}

#hubungi-kami .card-hubungi-kami h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}

#hubungi-kami .card-hubungi-kami .btn-white {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 8px;
  color: #BE9639;
  border: none;
}

#hubungi-kami .card-hubungi-kami .btn-white img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

#footer-momentum {
  margin-top: 52px;
}

#footer-momentum .line-dashed {
  border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
  margin-bottom: 5px;
}

#footer-momentum .copyright {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(38, 49, 69, 0.4);
  padding-bottom: 20px;
}

#footer-momentum .main-footer {
  border-top: 2px solid rgba(38, 49, 69, 0.15);
  padding: 55px 20px;
}

#footer-momentum .main-footer .logo-footer img {
  height: 36px;
  margin-bottom: 24px;
}

#footer-momentum .main-footer p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #696969;
  margin-bottom: 0;
}

#footer-momentum .main-footer .social {
  margin-top: 24px;
}

@media (max-width: 768px) {
  #footer-momentum .main-footer .social {
    margin-bottom: 20px;
  }
}

#footer-momentum .main-footer .social a img {
  margin-right: 16px;
}

#footer-momentum .main-footer ul {
  list-style: none;
  padding-left: 0;
}

#footer-momentum .main-footer ul h4 {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #263145;
  margin-bottom: 24px;
}

#footer-momentum .main-footer ul li {
  margin-bottom: 16px;
}

#footer-momentum .main-footer ul li a {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(38, 49, 69, 0.6);
  text-decoration: none;
}

#footer-momentum .main-footer ul li a:hover {
  color: #BE9639;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#banner-single {
  background: url("/img/kebijakan-privasi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 5rem 0;
  text-align: center;
}

#banner-single h2 {
  font-family: "sf-bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}

#content-single {
  margin: 40px 0;
}

#content-single p, #content-single ul, #content-single ol {
  font-family: "sf-regular", sans-serif;
  color: #2D2D2D;
  letter-spacing: 0.02em;
}

#content-single h5 {
  font-size: 16px;
  font-family: "sf-bold", sans-serif;
  letter-spacing: 0.02em;
}

#content-single .nav-item {
  margin-right: 12px;
}

#content-single .nav-pills .nav-link {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
}

#content-single .nav-pills .nav-link img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

#content-single .nav-pills .nav-link.active, #content-single .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  padding: 12px 20px;
  color: #fff;
}

.coming-soon img {
  width: 100% !important;
  min-height: 270px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-gloing {
  border-bottom: 1px solid rgba(38, 49, 69, 0.15);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-gloing .logo {
  background: #12D5C7;
  padding: 18px 20px;
  text-align: center;
  margin-right: 48px;
}

.navbar-gloing .nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-right: 20px;
  margin-left: 0;
}

.navbar-gloing .nav-link:hover {
  color: #12D5C7;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.hero-gloing {
  margin: 120px 0 0 0;
  border-bottom: 1px solid #F0FFFE;
}

@media (max-width: 768px) {
  .hero-gloing {
    margin: 120px 0 56px 0;
  }
}

.hero-gloing label {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  color: #2D2D2D;
  margin-bottom: 12px;
}

.hero-gloing h2 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  margin-bottom: 18px;
  color: #149E93;
}

.hero-gloing p {
  font-family: "sf-regular", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #696969;
  margin-bottom: 12px;
}

.hero-gloing .cta-download {
  margin-top: 32px;
}

.hero-gloing .cta-download img {
  height: 50px;
  width: auto;
  margin-right: 30px;
}

.hero-gloing .hero-image {
  width: 100%;
}

.cta-hero {
  margin-top: 32px;
}

.btn-beli-sekarang {
  background: transparent;
  background: #12D5C7;
  -webkit-box-shadow: 0px 4px 10px rgba(13, 154, 144, 0.25);
          box-shadow: 0px 4px 10px rgba(13, 154, 144, 0.25);
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #fff;
  padding: 16px 34px;
}

.btn-beli-sekarang img {
  margin-right: 12px;
}

.btn-beli-nanti {
  background: transparent;
  background: #fff;
  border: 1.5px solid #12D5C7;
  margin-left: 12px;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #12D5C7;
  padding: 16px 34px;
}

.btn-beli-nanti img {
  margin-right: 12px;
}

#kandungan-gloing {
  background: url("/img/bg-kandungan.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
}

#kandungan-gloing .image-produk {
  padding: 20px;
  margin: 100px 0;
  text-align: center;
}

#kandungan-gloing .kandungan {
  margin: 80px 0;
}

#kandungan-gloing .kandungan h2 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  margin-bottom: 18px;
  color: #149E93;
  margin-bottom: 40px;
}

#kandungan-gloing .kandungan .list-kandungan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#kandungan-gloing .kandungan .list-kandungan img {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  margin-right: 16px;
}

#kandungan-gloing .kandungan .list-kandungan h4 {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #7E7E7E;
}

#manfaat-gloing {
  text-align: center;
  margin: 32px 0;
}

#manfaat-gloing h2 {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.005em;
  margin-bottom: 18px;
  color: #149E93;
  margin-bottom: 100px;
}

#manfaat-gloing .card-manfaat {
  margin-bottom: 70px;
}

#manfaat-gloing .card-manfaat img {
  width: auto;
  height: 90px;
  margin-bottom: 28px;
}

#manfaat-gloing .card-manfaat h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

#hubungi-gloing {
  margin: 52px 0;
}

#hubungi-gloing .card-hubungi-kami {
  background: linear-gradient(90.9deg, #12D5C7 0.28%, #7CF8EF 105.23%);
  border-radius: 10px;
  padding: 40px;
}

#hubungi-gloing .card-hubungi-kami h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}

#hubungi-gloing .card-hubungi-kami .btn-white {
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50px;
  color: #14D5C7;
  border: none;
}

#hubungi-gloing .card-hubungi-kami .btn-white img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

#footer-gloing {
  margin-top: 52px;
}

#footer-gloing .line-dashed {
  border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
  margin-bottom: 5px;
}

#footer-gloing .copyright {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(38, 49, 69, 0.4);
  padding-bottom: 20px;
}

#footer-gloing .main-footer {
  border-top: 2px solid rgba(38, 49, 69, 0.15);
  padding: 55px 20px;
}

#footer-gloing .main-footer .logo-footer img {
  height: 36px;
  margin-bottom: 24px;
}

#footer-gloing .main-footer p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #696969;
  margin-bottom: 0;
}

#footer-gloing .main-footer .social {
  margin-top: 24px;
}

@media (max-width: 768px) {
  #footer-gloing .main-footer .social {
    margin-bottom: 20px;
  }
}

#footer-gloing .main-footer .social a img {
  margin-right: 16px;
}

#footer-gloing .main-footer ul {
  list-style: none;
  padding-left: 0;
}

#footer-gloing .main-footer ul h4 {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #263145;
  margin-bottom: 24px;
}

#footer-gloing .main-footer ul li {
  margin-bottom: 16px;
}

#footer-gloing .main-footer ul li a {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(38, 49, 69, 0.6);
  text-decoration: none;
}

#footer-gloing .main-footer ul li a:hover {
  color: #BE9639;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#bg-cara-konsumsi {
  margin: 52px 0;
}

#bg-cara-konsumsi .card-cara-konsumsi {
  background: url("/img/bg-cara-konsumsi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 40px 0;
}

#bg-cara-konsumsi .card-cara-konsumsi .character img {
  width: 100%;
  height: auto;
}

#bg-cara-konsumsi .card-cara-konsumsi h2 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #149E93;
  margin-bottom: 16px;
}

#bg-cara-konsumsi .card-cara-konsumsi p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #7E7E7E;
}

#bg-cara-konsumsi .card-cara-konsumsi .cta {
  margin-top: 32px;
}

#bg-cara-konsumsi .card-cara-konsumsi .cta img {
  height: 50px;
  width: auto;
  margin-right: 30px;
}

#hero-celeb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../../img/celeb/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  font-family: "Poppins", sans-serif;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

@media (max-width: 768px) {
  #hero-celeb {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

#hero-celeb .left {
  width: 55%;
  margin: 80px 0;
}

@media (max-width: 768px) {
  #hero-celeb .left {
    margin: 40px 0;
  }
}

#hero-celeb .left label {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#f857a6), to(#ff5858));
  background: linear-gradient(90deg, #f857a6 0%, #ff5858 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  #hero-celeb .left label {
    font-size: 20px;
    line-height: 36px;
  }
}

#hero-celeb .left h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 64px;
  text-transform: capitalize;
  color: #212121;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  #hero-celeb .left h1 {
    font-size: 36px;
    line-height: 52px;
  }
}

#hero-celeb .left p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #696969;
}

#hero-celeb .left .cta-hero-celeb {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 10px 35px 10px 10px;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #hero-celeb .left .cta-hero-celeb {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

#hero-celeb .left .cta-hero-celeb img {
  width: 50px;
  height: 50px;
  margin-right: 14px;
}

#hero-celeb .left .cta-hero-celeb h6 {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4px;
}

#hero-celeb .left .cta-hero-celeb h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #hero-celeb .left {
    width: 100%;
  }
}

#hero-celeb .right {
  width: 45%;
}

@media (max-width: 768px) {
  #hero-celeb .right {
    display: none;
  }
}

#hero-celeb .right .hero-celeb-image img {
  width: 100%;
}

#celeb-community {
  font-family: "Poppins", sans-serif;
  margin: 60px 0;
}

#celeb-community .title {
  margin-bottom: 60px;
}

#celeb-community .title h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
  color: #212121;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #celeb-community .title h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

#celeb-community .image-community img {
  width: 100%;
  height: auto;
}

#referral-celeb {
  font-family: "Poppins", sans-serif;
  margin: 60px 0;
}

#referral-celeb img {
  width: 100%;
  padding: 20px;
}

#referral-celeb .desc {
  margin-top: 80px;
}

@media (max-width: 768px) {
  #referral-celeb .desc {
    text-align: center;
  }
}

#referral-celeb .desc h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
  color: #212121;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #referral-celeb .desc h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

#referral-celeb .desc p {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #696969;
}

#referral-celeb .desc .btn-join-celeb {
  cursor: pointer;
  display: inline-block;
  background: #F8579E;
  -webkit-box-shadow: 0px 6px 10px rgba(248, 87, 158, 0.4);
          box-shadow: 0px 6px 10px rgba(248, 87, 158, 0.4);
  border-radius: 50px;
  padding: 16px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
}

#hubungi-celeb {
  margin: 52px 0;
}

#hubungi-celeb .card-hubungi-kami {
  background: -webkit-gradient(linear, left top, right top, from(#EC008C), to(#FC6767));
  background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
  border-radius: 10px;
  padding: 40px;
}

#hubungi-celeb .card-hubungi-kami h3 {
  font-family: "sf-bold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 0;
}

#hubungi-celeb .card-hubungi-kami .btn-white {
  font-weight: bold;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50px;
  color: #f8579e;
  border: none;
}

#hubungi-celeb .card-hubungi-kami .btn-white img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

#footer-celeb {
  margin-top: 52px;
}

#footer-celeb .line-dashed {
  border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
  margin-bottom: 5px;
}

#footer-celeb .copyright {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(38, 49, 69, 0.4);
  padding-bottom: 20px;
}

#footer-celeb .main-footer {
  border-top: 2px solid rgba(38, 49, 69, 0.15);
  padding: 55px 20px;
}

#footer-celeb .main-footer h4 {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #263145;
  margin-bottom: 24px;
}

#footer-celeb .main-footer .logo-footer img {
  height: 36px;
  margin-bottom: 24px;
}

#footer-celeb .main-footer p {
  font-family: "sf-regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #696969;
  margin-bottom: 0;
}

#footer-celeb .main-footer .social {
  margin-top: 24px;
}

@media (max-width: 768px) {
  #footer-celeb .main-footer .social {
    margin-bottom: 20px;
  }
}

#footer-celeb .main-footer .social a img {
  margin-right: 16px;
}

#footer-celeb .main-footer ul {
  list-style: none;
  padding-left: 0;
}

#footer-celeb .main-footer ul h4 {
  font-family: "sf-semibold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #263145;
  margin-bottom: 24px;
}

#footer-celeb .main-footer ul li {
  margin-bottom: 16px;
}

#footer-celeb .main-footer ul li a {
  font-family: "sf-medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(38, 49, 69, 0.6);
  text-decoration: none;
}

#footer-celeb .main-footer ul li a:hover {
  color: #BE9639;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*# sourceMappingURL=main.css.map */