.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-gloing{
    // padding: 20px 0;
    border-bottom: 1px solid $color-border;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .logo{
        background: #12D5C7;
        padding: 18px 20px;
        text-align: center;
        margin-right: 48px;
    }
    .nav-link{
        font-family: $font-raleway;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: $color-black-alpha;
        margin-right: 20px;
        margin-left: 0;
        &:hover{
            color: #12D5C7;
            transition: 200ms;
        }
    }
}
.hero-gloing{
    margin: 120px 0 0 0;
    border-bottom: 1px solid #F0FFFE;
    @media (max-width: 768px) {
        margin: 120px 0 56px 0;
    }
    label{
        font-family: $font-raleway;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        color: $color-black;
        margin-bottom: 12px;
    }
    h2{
        font-family: $font-dm;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        margin-bottom: 18px;
        color: #149E93;
    }
    p{
        font-family: $font-default;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: $color-black-alpha;
        margin-bottom: 12px;
    }
    .cta-download{
        margin-top: 32px;
        img{
            height: 50px;
            width: auto;
            margin-right: 30px;
        }
    }
    .hero-image{
        width: 100%;
    }
}
.cta-hero{
    margin-top: 32px;
}
.btn-beli-sekarang{
    img{
        margin-right: 12px;
    }
    background: transparent;
    background: #12D5C7;
    box-shadow: 0px 4px 10px rgba(13, 154, 144, 0.25);
    border-radius: 50px;
    font-family: $font-raleway;
    font-weight: 700;
    font-size: 14px;
    border: none;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    padding: 16px 34px;
}
.btn-beli-nanti{
    img{
        margin-right: 12px;
    }
    background: transparent;
    background: #fff;
    border: 1.5px solid #12D5C7;
    margin-left: 12px;
    // box-shadow: 0px 4px 10px rgba(13, 154, 144, 0.25);
    border-radius: 50px;
    font-family: $font-raleway;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #12D5C7;
    padding: 16px 34px;
}
#kandungan-gloing{
    background: url('/img/bg-kandungan.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    .image-produk{
        padding: 20px;
        margin: 100px 0;
        text-align: center;
    }
    .kandungan{
        margin: 80px 0;
        h2{
            font-family: $font-dm;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.005em;
            text-transform: capitalize;
            margin-bottom: 18px;
            color: #149E93;
            margin-bottom: 40px;
        }
        .list-kandungan{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img{
                width: 32px;
                height: 32px;
                min-width: 32px;
                min-height: 32px;
                max-width: 32px;
                max-height: 32px;
                margin-right: 16px;
            }
            h4{
                margin-bottom: 0;
                font-family: $font-raleway;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: #7E7E7E;
            }
        }
    }
}
#manfaat-gloing{
    text-align: center;
    margin: 32px 0;
    h2{
        font-family: $font-dm;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.005em;
        // text-transform: capitalize;
        margin-bottom: 18px;
        color: #149E93;
        margin-bottom: 100px;
    }
    .card-manfaat{
        margin-bottom: 70px;
        img{
            width: auto;
            height: 90px;
            margin-bottom: 28px;
        }
        h3{
            font-family: $font-raleway;
            font-weight: 600;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
#hubungi-gloing{
    margin: 52px 0;
    .card-hubungi-kami{
        background: linear-gradient(90.9deg, #12D5C7 0.28%, #7CF8EF 105.23%);
        border-radius: 10px;
        padding: 40px;
        h3{
            font-family: $font-default-bold;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 0;
        }
        .btn-white{
            width: 100%;
            height: 60px;
            background: #FFFFFF;
            border-radius: 50px;
            color: #14D5C7;
            border: none;
            img{
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }
        }
    }
}
#footer-gloing{
    margin-top: 52px;
    .line-dashed{
        border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
        margin-bottom: 5px;
    }
    .copyright{
        font-family: $font-default-medium;
        font-size: 16px;
        line-height: 18px;
        color: rgba(38, 49, 69, 0.4);
        padding-bottom: 20px;
    }
    .main-footer{
        border-top: 2px solid rgba(38, 49, 69, 0.15);
        padding: 55px 20px;
        .logo-footer{
            img{
                height: 36px;
                margin-bottom: 24px;
            }
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #696969;
            margin-bottom: 0;
        }
        .social{
            margin-top: 24px;
            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
            a{
                img{
                    margin-right: 16px;
                }
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
            h4{
                font-family: $font-default-semibold;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #263145;
                margin-bottom: 24px;
            }
            li{
                margin-bottom: 16px;
                a{
                    font-family: $font-default-medium;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: rgba(38, 49, 69, 0.6);
                    text-decoration: none;
                    &:hover{
                        color: $color-primary;
                        transition: 200ms;
                    }
                }
            }
        }
    }
}
#bg-cara-konsumsi{
    .card-cara-konsumsi{
        background: url('/img/bg-cara-konsumsi.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        padding: 40px 0;
        .character{
            img{
                width: 100%;
                height: auto;
            }
        }
        h2{
            font-family: $font-dm;
            font-size: 32px;
            line-height: 44px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #149E93;
            margin-bottom: 16px;
        }
        p{
            font-family: $font-raleway;
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 32px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #7E7E7E;
        }
        .cta{
            margin-top: 32px;
            img{
                height: 50px;
                width: auto;
                margin-right: 30px;
            }
        }
    }
    margin: 52px 0;
}