#hero-celeb{
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../img/celeb/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    font-family: $font-poppins;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    @media (max-width: 768px) {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .left{
        width: 55%;
        margin: 80px 0;
        @media (max-width: 768px) {
            margin: 40px 0; 
        }
        label{
            font-family: $font-poppins;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            background: linear-gradient(90deg, rgba(248, 87, 166, 1) 0%, rgba(255, 88, 88, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 12px;
            @media (max-width: 768px) {
                font-size: 20px;
                line-height: 36px;
            }
        }
        h1{
            font-weight: bold;
            font-family: $font-poppins;
            font-size: 40px;
            line-height: 64px;
            text-transform: capitalize;
            color: #212121;
            margin-bottom: 24px;
            @media (max-width: 768px) {
                font-size: 36px;
                line-height: 52px;
            }
        }
        p{
            margin: 0;
            font-family: $font-poppins;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-transform: capitalize;
            color: #696969;
        }
        .cta-hero-celeb{
            margin-top: 80px;
            margin-bottom: 40px;
            padding: 10px 35px 10px 10px;
            display: inline-block;
            background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
            border-radius: 50px;
            cursor: pointer;
            @media (max-width: 768px) {
                margin-top: 40px;
                margin-bottom: 20px;
            }
            img{
                width: 50px;
                height: 50px;
                margin-right: 14px;
            }
            h6{
                font-weight: 500;
                font-size: 12px;
                line-height: 19px;
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 4px;
            }
            h5{
                font-weight: 500;
                font-size: 16px;
                line-height: 27px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .right{
        width: 45%;
        @media (max-width: 768px) {
            display: none;
        }
        .hero-celeb-image{
            img{
                width: 100%;
            }
        }
    }
}
#celeb-community{
    font-family: $font-poppins;
    margin: 60px 0;
    .title{
        margin-bottom: 60px;
        h2{
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
            text-align: center;
            text-transform: capitalize;
            color: #212121;
            margin-bottom: 0;
            @media (max-width: 768px) {
                font-size: 28px;
                line-height: 40px;
            }
        }
    }
    .image-community{
        img{
            width: 100%;
            height: auto;
        }
    }
}
#referral-celeb{
    font-family: $font-poppins;
    margin: 60px 0;
    img{
        width: 100%;
        padding: 20px;
    }
    .desc{
        margin-top: 80px;
        @media (max-width: 768px) {
            text-align: center;
        }
        h2{
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
            text-transform: capitalize;
            color: #212121;
            margin-bottom: 20px;
            @media (max-width: 768px) {
                font-size: 28px;
                line-height: 40px;
            }
        }
        p{
            margin-bottom: 40px;
            font-family: $font-poppins;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-transform: capitalize;
            color: #696969;
        }
        .btn-join-celeb{
            cursor: pointer;
            display: inline-block;
            background: #F8579E;
            box-shadow: 0px 6px 10px rgba(248, 87, 158, 0.4);
            border-radius: 50px;
            padding: 16px 50px;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }
}

#hubungi-celeb{
    margin: 52px 0;
    .card-hubungi-kami{
        background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
        border-radius: 10px;
        padding: 40px;
        h3{
            font-family: $font-default-bold;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 0;
        }
        .btn-white{
            font-weight: bold;
            width: 100%;
            height: 60px;
            background: #FFFFFF;
            border-radius: 50px;
            color: rgba(248, 87, 158, 1);
            border: none;
            img{
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }
        }
    }
}
#footer-celeb{
    margin-top: 52px;
    .line-dashed{
        border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
        margin-bottom: 5px;
    }
    .copyright{
        font-family: $font-default-medium;
        font-size: 16px;
        line-height: 18px;
        color: rgba(38, 49, 69, 0.4);
        padding-bottom: 20px;
    }
    .main-footer{
        border-top: 2px solid rgba(38, 49, 69, 0.15);
        padding: 55px 20px;
        h4{
            font-family: $font-default-semibold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;
            color: #263145;
            margin-bottom: 24px;
        }
        .logo-footer{
            img{
                height: 36px;
                margin-bottom: 24px;
            }
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #696969;
            margin-bottom: 0;
        }
        .social{
            margin-top: 24px;
            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
            a{
                img{
                    margin-right: 16px;
                }
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
            h4{
                font-family: $font-default-semibold;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #263145;
                margin-bottom: 24px;
            }
            li{
                margin-bottom: 16px;
                a{
                    font-family: $font-default-medium;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: rgba(38, 49, 69, 0.6);
                    text-decoration: none;
                    &:hover{
                        color: $color-primary;
                        transition: 200ms;
                    }
                }
            }
        }
    }
}