body{
    font-family: $font-default;
    background-color: #fff;
    scroll-behavior: smooth;
}
.navbar-collapse{
    flex-grow: 0;
}

.navbar-momentum{
    padding: 20px 0 !important;
    border-bottom: 1px solid $color-border;
    background-color: transparent;
    .nav-link{
        font-family: $font-default-semibold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: $color-black-alpha;
        margin-right: 20px;
        margin-left: 0;
        &:hover{
            color: $color-primary;
            transition: 200ms;
        }
    }
}
.btn-kontak-kami{
    background: transparent;
    border: 1px solid #BE9639;
    box-shadow: 0px 0px 0px 2px rgba(190, 150, 57, 0.25);
    border-radius: 8px;
    font-family: $font-default-semibold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    color: #BE9639;
    padding: 16px 24px;
}
.hero-bg{
    background: url('/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: auto;
}
.hero-menu{
    margin: 56px 0;
    label{
        font-family: $font-default-bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        color: $color-black;
        margin-bottom: 12px;
    }
    h2{
        font-family: $font-default-bold;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.005em;
        text-transform: capitalize;
        margin-bottom: 18px;
        background: linear-gradient(90deg, rgba(190,150,57,1) 0%, rgba(221,197,142,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        font-family: $font-default;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: $color-black-alpha;
        margin-bottom: 12px;
    }
    .cta-download{
        margin-top: 32px;
        img{
            height: 50px;
            width: auto;
            margin-right: 30px;
        }
    }
    .hero-image{
        width: 100%;
    }
}
.penghasilan-tambahan{
    background: transparent;
    border: 1.5px solid #BE9639;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(210, 210, 210, 0.25);
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    margin-top: 18px;
    h4{
        font-family: $font-default;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #2D2D2D;
        margin-bottom: 0;
        padding-right: 12px;
        a{
            font-family: $font-default-semibold;
            text-decoration: none;
            color: $color-primary;
        }
    }
}

#cara-kerja{
    margin: 52px 0;
    .title{
        margin-bottom: 52px;
        text-align: center;
        h3{
            font-family: $font-default-bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 0;
        }
    }
    .card-cara-kerja{
        background: url('/img/bg-cara-kerja.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
        padding: 40px 30px;
        min-height: 320px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        img{
            width: auto;
            height: 40px;
            margin-bottom: 24px;
        }
        label{
            font-family: $font-default-bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-primary;
            margin-bottom: 8px;
            display: block;
        }
        h3{
            font-family: $font-default-bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 12px;
        }
        p{
            font-family: $font-default;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #696969;
            margin-bottom: 0;
        }
    }
}
#tentang{
    margin: 80px 0;
    .title{
        margin-bottom: 52px;
        text-align: center;
        label{
            font-family: $font-default-bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-primary;
            display: block;
            margin-bottom: 8px;
        }
        h3{
            font-family: $font-default-bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 16px;
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.02em;
            color: $color-black-alpha;
            margin-bottom: 0;
        }
    }
    .mobile-product{
        width: 100%;
        height: auto;
    }
    .keterangan-aplikasi{
        text-align: left;
        margin-top: 68px;
        label{
            font-family: $font-default-bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-primary;
            display: block;
            margin-bottom: 12px;
        }
        h3{
            font-family: $font-default-bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 16px;
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.02em;
            color: $color-black-alpha;
            margin-bottom: 0;
        }
    }
}
#fitur{
    margin: 80px 0;
    .title{
        margin-bottom: 52px;
        text-align: center;
        label{
            font-family: $font-default-bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-primary;
            display: block;
            margin-bottom: 8px;
        }
        h3{
            font-family: $font-default-bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 16px;
        }
    }
    .card-fitur{
        padding: 48px 32px;
        text-align: center;
        margin-bottom: 20px;
        &:hover{
            box-shadow: 0px 6px 20px rgba(219, 219, 219, 0.25);
            border-radius: 10px;
            transition: 200ms;
        }
        img{
            width: 75px;
            height: 75px;
            margin-bottom: 20px;
        }
        h4{
            font-family: $font-default-bold;
            font-size: 20px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: $color-black;
            margin-bottom: 12px;
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black-alpha;
            margin-bottom: 0;
        }
    }
}
#produk{
    margin: 52px 0 80px 0;
    .title{
        margin-bottom: 32px;
        a{
            font-family: $font-default-bold;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #BE9639;
            text-decoration: none;
            i{
                font-size: 24px;
            }
        }
        label{
            font-family: $font-default-bold;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-primary;
            display: block;
            margin-bottom: 8px;
        }
        h3{
            font-family: $font-default-bold;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black;
            margin-bottom: 16px;
        }
    }
    .card-produk{
        background: #FFFFFF;
        border: 1px solid rgba(38, 49, 69, 0.15);
        border-radius: 10px;
        padding: 24px;
        text-align: center;
        min-height: 265px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        img{
            height: 60px;
            width: auto;
            margin-bottom: 16px;
        }
        h3{
            font-family: $font-default-semibold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #000000;
            margin-bottom: 16px;
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black-alpha;
            margin-bottom: 28px;
        }
        .btn-beli{
            background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
            border-radius: 8px;
            width: 100%;
            padding: 16px;
            font-family: $font-default-semibold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            border: 0;
            align-items: center;
            img{
                width: 18px !important;
                height: auto;
                margin-right: 12px;
                margin-bottom: 0;
            }
        }
        .btn-coming{
            background: linear-gradient(90.9deg, #A5A5A5 0.28%, #ECECEC 105.23%);
            border-radius: 8px;
            width: 100%;
            padding: 16px;
            font-family: $font-default-semibold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            border: 0;
            align-items: center;
            img{
                width: 18px !important;
                height: auto;
                margin-right: 12px;
                margin-bottom: 0;
            }
        }
    }
    .card-produk-cm{
        background: #FFFFFF;
        border: 1px solid rgba(38, 49, 69, 0.15);
        border-radius: 10px;
        // padding: 24px;
        text-align: center;
        min-height: 265px;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
        h3{
            font-family: $font-default-semibold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #000000;
            margin-bottom: 16px;
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: $color-black-alpha;
            margin-bottom: 28px;
        }
        .btn-beli{
            background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
            border-radius: 8px;
            width: 100%;
            padding: 16px;
            font-family: $font-default-semibold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            border: 0;
            align-items: center;
            img{
                width: 18px !important;
                height: auto;
                margin-right: 12px;
                margin-bottom: 0;
            }
        }
        .btn-coming{
            background: linear-gradient(90.9deg, #A5A5A5 0.28%, #ECECEC 105.23%);
            border-radius: 8px;
            width: 100%;
            padding: 16px;
            font-family: $font-default-semibold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            border: 0;
            align-items: center;
            img{
                width: 18px !important;
                height: auto;
                margin-right: 12px;
                margin-bottom: 0;
            }
        }
    }
}
#hubungi-kami{
    margin: 52px 0;
    .card-hubungi-kami{
        background: linear-gradient(90.9deg, #BE9639 0.28%, #DDC58E 105.23%);
        border-radius: 10px;
        padding: 40px;
        h3{
            font-family: $font-default-bold;
            font-size: 24px;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 0;
        }
        .btn-white{
            width: 100%;
            height: 60px;
            background: #FFFFFF;
            border-radius: 8px;
            color: $color-primary;
            border: none;
            img{
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }
        }
    }
}
#footer-momentum{
    margin-top: 52px;
    .line-dashed{
        border-bottom: 2px dashed rgba(38, 49, 69, 0.15);
        margin-bottom: 5px;
    }
    .copyright{
        font-family: $font-default-medium;
        font-size: 16px;
        line-height: 18px;
        color: rgba(38, 49, 69, 0.4);
        padding-bottom: 20px;
    }
    .main-footer{
        border-top: 2px solid rgba(38, 49, 69, 0.15);
        padding: 55px 20px;
        .logo-footer{
            img{
                height: 36px;
                margin-bottom: 24px;
            }
        }
        p{
            font-family: $font-default;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #696969;
            margin-bottom: 0;
        }
        .social{
            margin-top: 24px;
            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
            a{
                img{
                    margin-right: 16px;
                }
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
            h4{
                font-family: $font-default-semibold;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #263145;
                margin-bottom: 24px;
            }
            li{
                margin-bottom: 16px;
                a{
                    font-family: $font-default-medium;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: rgba(38, 49, 69, 0.6);
                    text-decoration: none;
                    &:hover{
                        color: $color-primary;
                        transition: 200ms;
                    }
                }
            }
        }
    }
}

#banner-single{
    background: url('/img/kebijakan-privasi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 5rem 0;
    text-align: center;
    h2{
        font-family: $font-default-bold;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}

#content-single{
    margin: 40px 0;
    p,ul,ol{
        font-family: $font-default;
        color: $color-black;
        letter-spacing: 0.02em;
    }
    h5{
        font-size: 16px;
        font-family: $font-default-bold;
        letter-spacing: 0.02em;
    }
    .nav-item{
        margin-right: 12px;
    }
    .nav-pills .nav-link{
        font-family: $font-default-semibold;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        letter-spacing: 0.02em;
        text-transform: capitalize;

        color: $color-black-alpha;
        img{
            width: 28px;
            height: 28px;
            margin-right: 8px;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #000;
        border-radius: 50px;
        padding: 12px 20px;
        color: #fff;
    }
}
.coming-soon{
    img{
        width: 100% !important;
        min-height: 270px !important;
        object-fit: cover;
    }
}