/**

	VARIABLE:
	- Color Palletes
	- Typography

 */

 @font-face {
	font-family: "sf-regular";
	src: url("/fonts/sf-regular.ttf");
}
@font-face {
	font-family: "sf-medium";
	src: url("/fonts/sf-medium.ttf");
}
@font-face {
	font-family: "sf-semibold";
	src: url("/fonts/sf-semibold.ttf");
}
@font-face {
	font-family: "sf-bold";
	src: url("/fonts/sf-bold.ttf");
}
@font-face {
	font-family: "sf-heavy";
	src: url("/fonts/sf-heavy.ttf");
}
 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #BE9639;
$color-border:         rgba(38, 49, 69, 0.15);
$color-black:          #2D2D2D;
$color-black-alpha:    #696969;

 /**
=========================
	- Typography
=========================
*/
$font-default:   'sf-regular', sans-serif;
$font-default-medium:   'sf-medium', sans-serif;
$font-default-semibold:   'sf-semibold', sans-serif;
$font-default-bold:   'sf-bold', sans-serif;
$font-default-heavy:   'sf-heavy', sans-serif;

$font-raleway:   'Raleway', sans-serif;
$font-dm:   'DM Serif Display', serif;

$font-poppins : 'Poppins', sans-serif;
